body {
    font-style: italic;
    font-size: 30px;
    color: white;
}

h2 {
    font-size: 80px;
    margin-top: 40px;
    margin-left: 100px;
}

h3 {
    font-size: 40px;
    margin-top: 10px;
    margin-left: 80px;
}

html {
    background: url("img/Alelkes.jpg")
}