html {
    background: url("img/Alelkes.jpg")
}
h2 {
    font-size: 80px;
    margin-top: 40px;
    margin-left: 100px;
}
body {
    font-style: italic;
    font-size: 30px;
    color: white;
}
img {
    width: 15.6%;
    height: 200px;
    margin: 2%;
    box-shadow: 3px 3px 7px black;
}

p {
    font-size: 40px;
}